*  {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: $color-background no-repeat;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.wrapper {
  flex: 1 0 auto;
}
